.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  gap: 10px;
  padding: 20px 20px;
}


.logo {
  display: inline-block;
}

.logo img {
  display: inline-block;
  width: 311px;
  height: 79px;
}

@media (max-width: 500px) {
    .logo img {
        width: 130px; /* Even smaller size for small screens */
        height: 50px;
    }
}

.logo a {
  display: block;
}

.header {
  background-color: var(--header-background);
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 30px;
}

.header li {
  display: none;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

.header li a {
  color: var(--text-color);
  display: inline-block;
  padding: 0;
  text-decoration: none;
}

.header li a:hover {
  color: var(--text-secondary-color);
}

.bar {
    width: 1rem;
    height: 0.1rem;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
    /* Add more styling as needed */
}

.overlay {
  width: 100vh;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}